.padding{
  padding: 25px;
  }

.semi-transparent-bg {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 7px;
    color: white;
    font-size:16px;
    margin: 0 1rem 2em 1rem;
    
}



/* Estilos de Scrollama */

#scrolly {
    position: relative;
    padding: 1rem;
  }

  .article-steps {
    position: relative;
    padding: 0;
    max-width: 300px;
    margin: 0 auto;
    font-family: "Calibri";
    
  }

  .sticky-thing {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    background-image: url("../../images/resaltadonadal.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 0;
    top: 10vh;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
  }

  .sticky-thing p {
    font-size: 8rem;
    font-weight: 900;
    color: white;
  }

  .step {
    margin: 0 auto 750px auto;
    color: black;
    background-color: #f4a460;
    border-radius: 5px;
    opacity: 0.98;
  }

  .step:last-child {
    margin-bottom: 0;
  }

  .step.is-active p {
    background-color: goldenrod;
    color: white;
  }

  .step p {
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #f4a460;
    border-radius: 5px;
   
  }

  img{
    width: 100%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    display: block
  }

  .btn-outline-primary {
    background-color: white;
  }

